<h2> Administração de produtos </h2>

<%= will_paginate @records %>

<div class="well">
  <%= link_to 'Novo Produto',
              new_admin_produto_path,
              :class => 'btn btn-primary' %>
</div>

<table class="table table-bordered table-striped">
  <%= render_head Produto, :nome, :preco %>
  <tbody>
    <% @records.each do |produto| %>
        <tr>
          <td> <%= produto.nome %> </td>
          <td>
            <%= number_to_currency produto.preco %>
          </td>
          <td>
            <%= link_to 'Editar',
                    edit_admin_produto_path(produto),
                    :class => 'btn btn-primary'%>
            <%= link_to 'Remover',
                        admin_produto_path(produto),
                        :method => :delete,
                        :data => { :confirm => 'Tem certeza?' },
                        :class => 'btn btn-danger' %>
          </td>
        </tr>
    <% end %>
  </tbody>
</table>
<%=  will_paginate @records %>