<h2>
  Novo <%=  @record.class.model_name %>
</h2>

<%= admin_form_for @record do |f| %>

    <%= f.text_field :nome %>
    <%= f.text_field :preco %>
    <%= f.select :categoria_id,
            Categoria.all.map { |c| [c.nome, c.id]  },
            :include_blank => 'Selecione a categoria'
    %>
    <%= f.text_area :descricao, :rows => 3 %>

    <div class="form-actions">
      <%= f.primary_submit 'Enviar' %>
    </div>

<% end %>