<h2>
  Lista de Produtos
</h2>

<table class="table table-bordered table-striped">
  <%= render_head Produto, :nome, :preco, :quantidade %>
  <tbody>
    <% @produtos.each do |produto| %>
        <tr>
          <td><%= link_to( produto.nome,
                    produto_path(produto)  )%></td>
          <td><%= number_to_currency produto.preco %></td>
          <td>
           <%= form_tag itens_path, :method => :post do %>
             <%= hidden_field_tag :produto_id, produto.id %>
             <%= text_field_tag :quantidade, 1 %>
             <%= submit_tag 'Adicionar' %>
           <% end %>
          </td>
        </tr>
    <% end %>
  </tbody>
</table>