<h2>
  Nova <%=  @record.class.model_name %>
</h2>

<%= form_for @record, :url => [ :admin, @record ] do |f| %>

    <% unless @record.errors.blank? %>
        <ul>
          <% @record.errors.full_messages.each do |erro| %>
            <li> <%= erro %></li>
          <% end %>
        </ul>
    <% end %>

    <p>
      Nome: <%= f.text_field :nome %>
    </p>

    <p>
      <%= f.submit 'Enviar' %>
    </p>

<% end %>